h3 {
	font-family: cursive;
}
h4{
	font-family:cursive;
}

.purple {
	color:purple;
}
.blue{
	color:pink;
}
.blue-font-color {
	color:blue;
}
html {
  background-color: #f5f7f9;
}
h1{
	font-family:fantasy;
	color:blue;
}
h2{
	font-family:monospace;
	color:#e16879;
}
.black{
	color:black;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", "cursive", sans-serif;
}

strong {
  color: #222324;
}

.navbar {
  background: purple;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: blue;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: blue;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.jumbotron {
  /background-image: **url("img/background.jpg")***
  background-size: cover;
  color: white;
}

.title-image {
}
.a class{
	/background-image:url("img/pattern.jpg")
}








